body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

#container {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  max-width: 400px;
  width: 100%;
}

input[type="text"] {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f0f4f8;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; /* this keeps todo and button in one line */
  align-items: center;
  font-size: 16px;
}

li button {
  margin-left: 10px;
  background-color: #f0f4f8;
}


.delete-btn {
  background-color: #dc3545;
  padding: 6px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #b52b39;
}
.toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}
